##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*

HELP.md
build/**
bin/**
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


##############################
## Maven
##############################
/target/*.*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/.mvn/*.* 
.settings
/build/*.*  
/dist/*.* 
.classpath
.project
/target/classes/*.*
/target/test-classes/*.* 

##############################
## STS
##############################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

##############################
## IntelliJ IDEA
##############################
/out/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
nbactions.xml
nb-configuration.xml

##############################
### VS Code ###
##############################
.vscode/
.code-workspace

##############################
# Log file
##############################
*.log
# BlueJ files
*.ctxt
###############
src/backend/.idea
/gradlew
gradlew.bat
src/backend/gradlew
src/backend/gradlew.bat
src/backend/gradle/
src/backend/.gradle/
/.gradle/
/bin/
